<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
    <meta charset="ISO-8859-1">
    <title>Login Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/universal.css}" href="/css/universal.css">
</head>

<body>
<div th:fragment="menu" id="menu">
    <!-- Navigation -->
    <nav class="navbar">
        <div th:unless="${session.role}">
            <a th:href="@{/login}" th:text="#{login.title}"></a>
        </div>
        <div th:if="${session.role}">
            <a th:href="@{/user/welcome}" th:text="#{navbar.dashboard}"></a>
            <a th:href="@{/user/department}" th:text="#{navbar.dept}"></a>
            <a th:href="@{/logout}" th:text="#{navbar.logout}"></a>
        </div>
        <a th:href="@{/language}" th:text="#{navbar.lang}"></a>
    </nav>
</div>

</body>