<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
    <meta charset="ISO-8859-1">
    <title>Login Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/universal.css}" href="/css/universal.css">
</head>

<body>
<div th:fragment="menu" id="menu">
    <!-- Navigation -->
    <nav class="navbar">
        <div th:if="${session.role}">
            <a th:href="@{/user/welcome}">Dashboard</a>
            <a th:href="@{/user/department}">Department</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <a th:href="@{/language}">Language</a>
    </nav>
</div>

</body>