<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/universal.css}" href="/css/universal.css" />
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>
<h2>Department Information</h2>
<ul>
    <li th:each="employee : ${teamMembers}">
        <p th:text="${employee.firstName + ' ' + employee.lastName}"></p>
        <p th:text="${'Tel: ' + employee.phone}"></p>
    </li>
</ul>
</body>
</html>
