<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"></head>
<body>
<div th:replace="fragments/layout.html :: menu"/>
  <h2>Login</h2>
  <form method="post" th:action="@{'/login'}">
    <table class="framed">
      <tr>
        <td>Username</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Login" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span th:if="${loginMessage != null}" th:text="${loginMessage}"></span>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
