<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/universal.css}" href="/css/universal.css" />
</head>
<body>
    <h1>Welcome Back!</h1>
    <p>Greetings, <span th:text="${currentEmployee.firstName + ' ' + currentEmployee.lastName}"></span>!</p>
    <p>Username: <span th:text="${currentEmployee.username}"></span></p>
    <p>Role: <span th:text="${#strings.capitalize(role)}"></span></p>

    <div th:if="${role == 'manager'}">
        <form action="/user/secret" method="get">
            <button type="submit">Go to Manager Page</button>
        </form>
    </div>
</body>
</html>